@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    padding : 0;
    margin: 0;
    box-sizing: border-box;
}

#khmer{
    font-family: 'Noto Sans Khmer', sans-serif;
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side,#931f78 95%,#0000) 50% 1.1px/13.4px 13.4px no-repeat,
       radial-gradient(farthest-side,#0000 calc(100% - 15.7px),rgba(147,31,120,0.1) 0);
  animation: spinner-aur408 1s infinite linear;
}

@keyframes spinner-aur408 {
  to {
     transform: rotate(1turn);
  }
}


@media (max-width: 575px) {
    .responsive {
      display: none;
    }
  }